.aboutContainer{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    width: 50%;
    position: relative; 
    background: #fff;
    font-family: Montserrat, sans-serif;;
    line-height: 30px;
    padding: 40px;
    border: 1px solid black;
    /* clip-path: circle(50% at 50% 50%); */
    box-shadow:
    inset rgb(195, 6, 101) 0 0 0 5px, 
    inset rgb(205, 58, 131) 0 0 0 1px, 
    inset rgb(194, 101, 148) 0 0 0 10px, 
    inset rgb(247, 154, 201) 0 0 0 11px, 
    inset rgb(245, 194, 219) 0 0 0 16px, 
    inset rgb(246, 220, 233) 0 0 0 17px, 
    inset rgb(244, 234, 239) 0 0 0 21px, 
    inset #ffffff 0 0 0 2px;
    transition: box-shadow 1s ease-in-out, opacity 1s ease-in-out;
    
}

.aboutContainer .profilePic{
    width:  100%;
    border-radius: 10px;  
    box-shadow: 2px 2px 20px rgb(245, 194, 219);
    transition: opacity 2s ease-in-out;
}

.details h1{
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 4s ease-in-out;
}

.details h1 span{
    font-size: 20px;
    font-weight: 300;
}

.details .detailInfo{
    position: absolute;
    top: 32px;
    left: 5%;
    opacity: 0;
    padding: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: opacity 2s ease-in-out;
}

.details .detailInfo h2{
    text-align: center;
}

 .detailInfo .tecnologies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.detailInfo .socialMedia{
    display: flex;
    flex-direction: row;
    align-items: center ;
    gap: 20px;
}

.detailInfo img{
    width: 50px;
    height: 50px;
}

.aboutContainer .profilePic:hover{
    transition: 2s ease-in;
    opacity: 0.3;
}

.cardContainer:hover h1 {
    opacity: 0; 
    transition: 1s ease-in
}

.cardContainer:hover .detailInfo {
    opacity: 1; 
    transition: 2s ease-in;
}


.cardContainer:hover .profilePic {
    transition: 2s ease-in;
    opacity: 0.3;
}

.cardContainer:hover .profilePic {
    opacity: 0.3;
}

@media (max-width:1350px) {
    .cardContainer{
        margin-top: 300px;
    }

    .cardContainer .details h1{
        position: relative;
        text-align: center;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .details .detailInfo{
        position: relative;
        opacity: 1;
        gap: 5px;   
}   
}

@media (max-width:900px) {
    .cardContainer{
        width: 80%;
        margin-top: 300px;
    }
}

@media (max-width:550px) {
    .cardContainer{
        width: 100%;
        margin: 20px 20px;
    }

    .profilePic{
        display: none;
    }

    .details .detailInfo{
    font-size: 12px;
    }
}

@media (max-width: 460px){
    .cardContainer{
        margin-top: auto 0px;
        padding: 10px;
        line-height: 22px;
    }
}