.cards{
    width: 300px;
    margin-top: 20px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
}

.cards img{
    height: 200px;
    width: 300px;
    box-shadow: 0px 2px 10px rgb(205, 40, 122, 0.7);
}

.cards h2{
    text-align: center;
    margin: 5px;
}

.weight{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
