nav{
    position: sticky;
    top: 0px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav input{
    padding: 5px 10px;
}

nav button{
    padding: 10px 10px;
    border: none;
    background-color: black;
    border-radius: 10px;
    color: white;
}

nav button:hover{
    cursor: pointer;
    background-color: #cd287a;
    transition: all 1000ms ease;
}